<div class="col-md-12 col-sm-12 ">
    <div class="title">
        <h4 class="text-center cesar">DÒNG XE MERCEDES BENZ</h4>
        <input type="text" class="form-control" placeholder="Tìm Kiếm Dòng Xe" [(ngModel)]="keyword">
    </div>
</div>
<div class="container">
    <span>{{listProduct.name}}</span>

    <div class="product">

        <div class="row">
            <div class="col-md-3" *ngFor="let item of listProduct | search:keyword " style="cursor: pointer; margin-bottom: 20px;">

                <div class="card text-left" routerLink="/detailProduct/{{item.id}}">
                    <img class="card-img-top" src="{{item.avatar}}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">{{item.name}}</h4>
                        <h5 class="text-danger">{{item.price}} VNĐ</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="nkt" routerLink="/">
            <span style="text-align: center;"> <i class="fa-solid fa-house-chimney" style="margin-right: 10px;"></i>TRANG CHỦ</span>
        </div>
    </div>
</div>