<!-- <div class="list-group text-center"  >
    <a href="#" class="list-group-item list-group-item-action active" routerLink="/admin" >TẤT CẢ SẢN PHẨM</a>
    <a href="" class="list-group-item list-group-item-action"  *ngFor="let item of listCategory" ><h6></h6></a>
</div>   -->
<table class="table" style="cursor: pointer;">
    <thead>
        <tr>
            <th routerLink="/admin" class="text-center" style="background-color:black ; color:white; ">TẤT CẢ SẢN PHẨM</th>
           
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let item of listCategory">
            <td scope="row" routerLink="admin/product/{{item.id}}" class="" ><h6>{{item.id}}.  {{item.name}}</h6></td>
        </tr>
    </tbody>
</table>