<div class="main">
    <div class="row">
        <div class="col-lg-12 leftMain">
            <owl-carousel-o [options]="OptionsSlider">
                <ng-container *ngFor="let slide of sliderImg">
                    <ng-template class="" carouselSlide id="{{slide.id}}">
                        <div class="Box">
                            <div class="boxImg">
                                <img class="card-img imgSlide" src="{{slide.img}}">
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
        <div class="col-lg-12 mt-5 rightMain mb-lg-5 mb-0">
            <h1 class="text-center font-weight-bold">{{dataVehical.year}} {{dataVehical.name}}</h1>
            <h5 class="text-center nameBrand"><span class="font-weight-600">Brand:</span> {{dataVehical.brand}}</h5>
            <div class="boxImgBrand mb-4">
                <img class="card-img" src="{{imgBrand}}" alt="">
            </div>
            <h5 class="text-center"><span class="font-weight-600">Price:</span> ${{dataVehical.price}}</h5>
            <div class="row mt-4">
                <div class="col-4 text-center">
                    <span class="numberData font-weight-600">{{dataVehical.bodyStyle}}</span>
                    <p class="text-center">Body Style</p>
                </div>
                <div class="col-4 text-center">
                    <span class="numberData font-weight-600">{{dataVehical.engine}}</span>
                    <p class="text-center">Engine</p>
                </div>
                <div class="col-4 text-center">
                    <span class="numberData font-weight-600">{{dataVehical.Mileage}}</span>
                    <p class="text-center">Mileage</p>
                </div>
            </div>
            <button *ngIf="dataVehical.inStock; else elseStock" class="btn btn-primary butToCart mt-3 mb-3" href="#" role="button">CHECKOUT</button>
            <ng-template #elseStock>
                <button class="btn border border-dark btn-light text-dark butToCart mt-5 mb-5" href="#" role="button">OUT OF STOCK</button>
            </ng-template>
            <div class="description mt-5">
                <h3 class="mt-4 font-weight-600 text-center mt-5">Description</h3>
                <p>{{dataVehical.description}}</p>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-lg-6 col-md-6">
            <h3 class="font-weight-600 interior text-center">Interior</h3>
            <img class="card-img mt-2 mb-5" src="{{dataVehical.intImg}}" alt="">
        </div>
        <div class="col-lg-6 col-md-6">
            <h3 class="font-weight-600 autoPilot text-center">Exterior</h3>
            <img class="card-img mt-2 mb-5" src="{{dataVehical.extImg}}" alt="">
        </div>
    </div>

</div>