.contentWrapper {
    padding-top: 40px;
    padding-bottom: 3em;
}

.box-table {
    margin-top: 15px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.margin-bottom-2x {
    margin-bottom: 2em;
}

.larger {
    font-size: 106%;
}

p {
    margin: 0 0 10px;
    font-size: 18px !important;
}

a,
address,
p,
span,
b {
    font-size: 16px !important;
}

.aHeadTable {
    font-size: 20px !important;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input {
    padding: 20px 15px;
    font-size: 16px;
    border: none;
    border-radius: 0px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    text-transform: capitalize;
}

textarea.form-control {
    height: auto;
}

.margin-bottom-1x {
    margin-bottom: 1em;
}

.btn-cta {
    color: #fff;
    background: #a40000;
    border-color: #a40000;
    border-radius: unset;
}

.btn {
    font-weight: normal;
}

small {
    font-size: 85%;
}

hr {
    border-top-color: #ddd;
}

hr {
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

h3 {
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

strong {
    font-weight: 700;
}

.xstat-tet-link {
    color: #a40000 !important;
}

.callNowClass {
    color: #a40000 !important;
    text-decoration: none;
    font-size: 14px;
}

p {
    margin: 0 0 10px;
}

.margin-bottom_5x {
    margin-bottom: 0.5em;
}

address {
    font-style: normal;
    line-height: 1.42857143;
}

.stat-text-link {
    color: #a40000;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}


/* .col-page{
    padding: 0 65px;
} */

b {
    font-weight: 700;
    font-size: 16px;
}

address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143;
    font-size: 14px;
}

address span {
    font-size: 14px;
}

.btn {
    font-weight: normal;
}

.btn-main {
    color: #fff;
    background-color: #1e1e1e;
    border-color: #1e1e1e;
    border-radius: unset;
}

.well {
    box-shadow: none;
    border-radius: 0;
}

.well-sm {
    padding: 9px;
}

.well {
    min-height: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
}

table {
    background-color: transparent;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

table tbody tr td {
    font-size: 14px;
}

.table>thead:first-child>tr:first-child>th {
    border-top: 1px solid #ddd;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #ddd;
    padding: 8px;
    line-height: 1.42857143;
    text-align: left;
}

.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}

.well .nav-tabs.nav-justified {
    background-color: #f5f5f5 !important;
}

.nav-tabs.nav-justified {}

.nav-tabs.nav-justified {
    border-radius: 4px 4px 0 0 !important;
}

.nav-justified li {
    text-align: center;
    width: 100%;
}

iframe {
    height: 503px;
    width: 100%;
    border: 0;
}

@media (max-width:425px) {
    h1 {
        font-size: 35px;
    }
    iframe {
        height: 300px;
    }
}

@media (max-width:375px) {
    h1 {
        font-size: 30px;
    }
}

@media (max-width:320px) {
    .box-table {
        margin-top: 15px;
    }
    h1 {
        font-size: 26px;
    }
}