<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="detail">
                <div class="title">
                    <h2 class="font-italic">{{listProduct.name}}</h2>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-3">
                            <h6>Giá bán : </h6>
                        </div>
                        <div class="col-md-9">
                            <h5 class="text-danger">{{listProduct.price}} VNĐ</h5>
                        </div>
                    </div>
                </div>
                <div class="end">

                    <h6>Dài x Rộng x Cao (mm){{listProduct.size}}</h6>
                    <h6> Trọng lượng không tải {{listProduct.weight}} kg</h6>
                    <h6>Thể tích làm việc {{listProduct.volume}} cc</h6>
                    <h6> Loại xy-lanh/động cơ {{listProduct.cylinder}}</h6>
                    <h6>Hộp số {{listProduct.gear}}</h6>
                    <h6> Công suất cực đại {{listProduct.wattage}}</h6>
                    <h6>Tốc độ tối đa {{listProduct.maxspeed}}</h6>
                    <h6> Dung tích bình nhiên liệu {{listProduct.capacity}} Lít</h6>
                </div>
            </div>
            <button class="btn btn-warning" style="padding: 10px;">Checkout</button>
        </div>
        <div class="col-md-7">
            <owl-carousel-o [options]="customOptions">

                <ng-container *ngFor="let slide of sliderImg">
                    <ng-template carouselSlide [id]="slide.id">
                        <img [src]="slide.img">
                    </ng-template>
                </ng-container>

            </owl-carousel-o>
        </div>
    </div>
</div>