.nkt a{
    /* color: red; */
    font-weight: bold;
    color: #696969	;
    margin: 0 12px;
    font-size: 19px;
}
.nkt{
    background-color: black;
}
.nav-item a{
    font-size: 13px;
    color: white;
    padding: 0px 6px;
}
.look{
    text-transform: uppercase;
}
@media (max-width: 500px) {
    .container{
        height: 100%;
        
    }
    span{
        color: white;
    }
    .navbar a{
        color: white;
    }
    .navbar-toggler{
        color: white;
        background-color: white;
        width: 80%;
        height: 40px;
        /* margin-right: 5px; */
    }
    .fl{
        display: flex;
        justify-content: space-around;
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    .navbar-toggler{
        color: white;
        background-color: white;
        /* width: 80%; */
        /* height: 40px; */
        /* margin-right: 5px; */
        margin-left: 400px;
    }
}

nav ul li:hover a{
    border-bottom: 3px solid white;
    transition: all 0.1s;
}
