*{
    color: white;
}
.nkt a{
    /* color: red; */
    font-weight: bold;
    color: #696969	;
    margin: 0 12px;
    font-size: 19px;
}
.nkt{
    background-color: black;
}
.nav-item a{
    font-size: 13px;
    color: white;
    padding: 0px 10px;
}
.main{
    background-image: url('https://www.mercedes-benz.com.vn/vi/passengercars/mercedes-benz-cars/models/g-class/suv-w463/design/design-optional/_jcr_content/swipeableteaserbox/par/swipeableteaser_197/asset.MQ6.12.20190701060934.jpeg');
    width: 100%;
    height: 100%;
    line-height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    image-rendering: pixelated;
    box-sizing: border-box;
    overflow: hidden;
    
}
.pd{
    padding: 150px 0px 250px 0px;
}
.col-md-5{
    margin: auto;
}
input{
    color: black;
    box-sizing: border-box;
}
span{
    font-size: 10px;
}
.look{
    text-transform: uppercase;
}
.nkt{
    background-color: black;
}
nav ul li:hover a{
    border-bottom: 3px solid white;
    transition: all 0.1s;
}
