
<div class="container">
  <div class="row">
      <div class="col-md-5">
        <div class="detail">
            <div class="title">
                <h2 class="font-italic">{{listProduct.name}}</h2>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-3">
                        <h6>Giá bán : </h6>
                    </div>
                    <div class="col-md-9">
                        <h5 class="text-danger">{{listProduct.price}} VNĐ</h5>
                    </div>
                </div>
            </div>
            <div class="end">
              
                  <h6>Dài x Rộng x Cao (mm){{listProduct.size}}</h6>
                  <h6> Trọng lượng không tải {{listProduct.weight}} kg</h6>
                  <h6>Thể tích làm việc {{listProduct.volume}} cc</h6>
                  <h6> Loại xy-lanh/động cơ {{listProduct.cylinder}}</h6>
                  <h6>Hộp số {{listProduct.gear}}</h6>
                   <h6> Công suất cực đại {{listProduct.wattage}}</h6>
                  <h6>Tốc độ tối đa {{listProduct.maxspeed}}</h6>
                 <h6> Dung tích bình nhiên liệu {{listProduct.capacity}} Lít</h6>
            </div>
        </div>
      </div>
      <div class="col-md-7 nk"  >
        <owl-carousel-o [options]="customOptions">

            <ng-container *ngFor="let slide of sliderImg">
              <ng-template carouselSlide [id]="slide.id">
                <img [src]="slide.img" >
              </ng-template>
            </ng-container>
        
          </owl-carousel-o>
      </div>
  </div>
</div> 
<div class="introduce">
  <div class="container">
     <div class="row">
      <div class="col-md-9">
         <div class="title">
              <h6 style="margin: 10px 0px;">Tổng quan</h6>
              <h6 style="margin: 10px 0px;">Trải nghiệm nhịp sống của thế hệ mới</h6>
         </div>
         <div class="content">
          Khỏe khoắn ngay từ cái nhìn đầu tiên - và trên suốt hành trình: chiếc <span style="font-weight: bolder;"> {{listProduct.name}} </span> thực hiện lời hứa được cam kết bởi thiết kế. Chiếc A-Class gợi cảm xúc trên từng chuyển động nhờ cản trước mạnh mẽ, đường lượn trên hông xe gọn gàng và thậm chí đuôi xe đặc biệt hơn có tùy chọn đèn hậu hoàn toàn là đèn LED.
          <img src="{{listProduct.productImg}}" alt="" width="100%" height="500px">
         </div>
         <div class="title">
              <h6 style="margin: 10px 0px;">Ngoại thất - hoàn hảo với vẻ ngoài thẩm mỹ và khỏe khoắn</h6>
         </div>
         <div class="content">
          Thiết kế của chiếc {{listProduct.name}} trẻ trung và hiện đại, thậm chí gợi nhiều cảm xúc sau mẫu cập nhật: cản trước và cản sau mạnh mẽ hơn, ba dòng trang bị và thiết kế khác nhau, một gói thiết kế tùy chọn cũng như các chất liệu, màu sắc và bánh xe hợp kim mới đều cuốn hút.

          Mô-đun trước trong hình mũi tên rõ nét và lưới tản nhiệt kim cương độc đáo đảm bảo dáng vẻ tự tin và cái nhìn tràn đầy năng lượng. Nắp bảo vệ bộ tản nhiệt có thiết kế giống với lưới kim cương đen với đặc điểm kỹ thuật tiêu chuẩn làm nổi bật phong cách thể thao.
          <img src="{{listProduct.endImg}}" alt="" width="100%" height="500px" >
         </div>
      </div>
      <div class="col-md-3">
          <div class="card text-left">
              <img class="card-img-top" src="https://media.vov.vn/sites/default/files/styles/large/public/2021-11/2021-mercedes-star-in-ring-100th-anniversary-10.jpg" alt="" height="300px" style="width: 100%;">
              <div class="card-body text-center">
                <h5 class="card-title ">ĐẠI DIỆN BÁN HÀNG</h5>
                <h6 class="text-danger">Hotline : 0933.669.996</h6>
                <h6>Giá Xe, Khuyến Mại, Trả Góp, Dịch Vụ Tốt Nhất    </h6>
              </div>
            </div>
      </div>
     </div>
  </div>
</div>




