<div class=" fakeHeadersite">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-3">
                    <div class="ml-lg-4 ml-0">
                        <img class="logo" routerLink="/" src="https://www.carriomotorcars.com/static/dealer-21170/logo.png">
                    </div>
                </div>
                <div class="col-lg-9 col-9 rowMenuMobile">
                    <ul class="float-right ulRight">
                        <li class=" responForLi" routerLink="/shop"><a>Shop</a></li>
                        <li class=" responForLi" routerLink="/finance"><a>Finance</a></li>
                        <li class=" responForLi" routerLink="/brandWarranty"><a>Warranty</a></li>
                        <li class=" responForLi" routerLink="/contact"><a>Contact</a></li>
                        <li class=" mr-5 responForLi" routerLink="/about"><a>About Us</a></li>
                        <li class="searchLi">
                            <div class="formSearch">
                                <input type="text" class="inputSearch" id="inputSearch" [(ngModel)]="keyword" placeholder="Search here" (keyup)="showBoxSearch()">
                                <i class="fa-solid fa-magnifying-glass ml-1"></i>
                            </div>
                        </li>
                        <li class="signIn menuMobileButton" (click)="openMenuMobile()" id="butOpenMenu">Menu</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modalMenuMobile d-none" id="modalMobile">
    <div class="menuMobile" id="menuMobile">
        <h3>Menu</h3>
        <div class="closeMenu" id="but" (click)="closeMenuMobile()">
            <i class="fa-solid fa-x"></i>
        </div>
        <div class="list-group">
            <a (click)="closeMenuMobile()" routerLink="/" class="list-group-item list-group-item-action"><i class="fa-solid fa-house"></i> Home</a>
            <a (click)="closeMenuMobile()" routerLink="/shop" class="list-group-item list-group-item-action"><i class="fa-solid fa-bag-shopping"></i> Shop</a>
            <a (click)="closeMenuMobile()" routerLink="/finance" class="list-group-item list-group-item-action"><i class="fa-solid fa-coins"></i> Finance</a>
            <a (click)="closeMenuMobile()" routerLink="/brandWarranty" class="list-group-item list-group-item-action"><i class="fa-solid fa-shield"></i> Warranty</a>
            <a (click)="closeMenuMobile()" routerLink="/contact" class="list-group-item list-group-item-action"><i class="fa-solid fa-phone"></i> Contact</a>
            <a (click)="closeMenuMobile()" routerLink="/about" class="list-group-item list-group-item-action"><i class="fa-solid fa-info"></i> About Us</a>
        </div>
    </div>
</div>
<div class="seachBox">
    <div class="boxDetailSearched d-none" id="boxDetailSearched">
        <div class="position-relative">
            <ul>
                <li class="detailSearch" (click)="navigateToDetail(item.id)" *ngFor="let item of allProduct | search:keyword">
                    <div class="row">
                        <div class="col-5">
                            <img class="card-img" src="{{item.imgProduct}}" alt="">
                        </div>
                        <div class="col-7">
                            <p class="nameSearched">{{item.name}}</p>
                            <p class="priceSearched">${{item.price}}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>