<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="card text-left">
                <p>TIN TỨC</p>
                <h4 class="card-title">{{list.title}}</h4>
              <img class="card-img-top" src="{{list.avatar}}" alt="">
              <div class="card-body">
                <p class="card-text">{{list.content}}</p>
              </div>
            </div>
        </div>
        <div class="col-lg-4">
           <div class="card text-left">
             <img class="card-img-top" src="https://media.vov.vn/sites/default/files/styles/large/public/2021-11/2021-mercedes-star-in-ring-100th-anniversary-10.jpg" alt="" height="300px">
             <div class="card-body text-center">
               <h5 class="card-title ">ĐẠI DIỆN BÁN HÀNG</h5>
               <h6 class="text-danger">Hotline : 0933.669.996</h6>
               <h6>Giá Xe, Khuyến Mại, Trả Góp, Dịch Vụ Tốt Nhất    </h6>
             </div>
           </div>
        </div>
    </div>
</div>