<div class="all" style="background-color: #f5f5f5;">
    <div class="container mt-4" style=" border: 2px solid #ffff !important;
        box-shadow: 0px 0px 8px 1px rgba(133, 133, 133, 0.332); background-color: #fff;">
        <section class="contentWrappe ">
            <div class="container mainContent">
                <div class="content-description">
                    <h1 class="header">
                        About
                    </h1>
                </div>
                <div class="About-page">
                    <div>
                        <img src="https://www.carriomotorcars.com/static/dealer-21170/logo.png" alt="Carrio Logo" class="img-responsive">
                    </div>
                    <br>
                    <p>Carrio Motor Cars is a family owned dealership established in 1987 based out of sunny South Florida! We have specialized in handpicked, one of a kind pre-owned vehicles! We have the cars, we have the years of knowledge and experience
                        and now, with our new and renovated online shopping tool, your dream car can be delivered to you in just a few simple steps. We have gained our Top Seller reputation on our Ebay Channel by outselling all dealers in our market with
                        unbeatable prices and the best quality inventory! And in the event that you can't find your dream car in our inventory, you can tell us specifically what you want and we will have our experts find the perfect car for you! If you're
                        looking to finance, we work with banks and credit unions to get you the best interest rate possible! Simply fill out the credit application and our credit analyst will contact you shortly to review the best financing options for
                        you! We like to provide as many pictures of our vehicles as possible as well as video footage and a very detailed description for the many buyers that we attend to thousands of miles away from us, so even if you're located in California
                        or Washington State, we're here to help! Our customer feedback speaks louder than anything we can say so we invite you to review our testimonials page to see our customers experience and trust in us to become your dealer of choice!
                        Feel free to call us at any time and it would be our pleasure to assist you in every step of your next vehicle purchase!</p>
                </div>
            </div>
        </section>
        <section class="contentWrapper ">
            <div class="container mainContent">
                <div>
                    <h1 class="header">
                        Leave Us a Review
                    </h1>
                </div>
                <div class="customer-reviews-page">
                    <div>
                        <div class="row">
                            <div class="col-lg-9 col-md-8 col-sm-12">
                                <p>At Carrio Motor Cars, we value every customer and care about each experience you might have with our team. We’d love to hear from you about how we are doing and share any of your interactions with our future customers on
                                    any of the review sites below. We strive to make every call, appointment, and visit to our dealership a remarkable experience for you, our customers. Thank you for your patronage, and please let our neighbors know how
                                    we have helped earn your business.</p>
                                <div>
                                    <div class="tab-pane">
                                        <h3>Please tell us how can we improve your experience?</h3>
                                    </div>
                                    <div class="tab-pane">
                                        <div class="row">
                                            <div class="col-lg-12 col-sm-12 col-md-12">
                                                <div class="clearfix">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                                            <a href="" class="btn btn-alt1 btn-block pad-vert-2x pad-horz-1x">
                                                                <img src="https://www.carriomotorcars.com/assets/socialIcons/cars_250.png" alt="" class=""> Cars.Com Reviews

                                                            </a>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                                            <a href="" class="btn btn-alt1 btn-block pad-vert-2x pad-horz-1x">
                                                                <img src="https://www.carriomotorcars.com/assets/socialIcons/yahoo-local_150.png" alt="" class=""> Yahoo Local Review


                                                            </a>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                                            <a href="" class="btn btn-alt1 btn-block pad-vert-2x pad-horz-1x">
                                                                <img src="https://www.carriomotorcars.com/assets/socialIcons/yelp_200.png" alt="" class=""> Yelp Review

                                                            </a>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                                            <a href="" class="btn btn-alt1 btn-block pad-vert-2x pad-horz-1x">
                                                                <img src="https://www.carriomotorcars.com/static/dealer-21170/googleLogo.png" alt="" class=""> Google Review

                                                            </a>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                                            <a href="" class="btn btn-alt1 btn-block pad-vert-2x pad-horz-1x">
                                                                <img src="https://www.carriomotorcars.com/assets/socialIcons/facebook_48x48.png" alt="" class=""> Facebook Review


                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12 margin-top-2x">
                                <div class="sidebarSection sb-address well">
                                    <h3 class="margin-top-x">Carrio Motor Cars</h3>
                                    <address class="margin-bottom_5x">5120 North State Road 7, Fort Lauderdale, FL 33309
                                    </address>
                                    <i class="fa-solid fa-location-dot"></i>
                                    <a class="map">
                                        Driving Directions
                                    </a>
                                    <div class="tel 1 margin-top-1x">
                                        Sales: <a class="map">954-733-7555</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>