.contentWrapper {
    margin-top: 20px;
    padding-bottom: 3em;
}

h1 {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;
    color: rgb(35, 35, 35);
    padding-top: 40px;
}

p {
    margin: 0 0 10px;
    font-size: 17px;
    color: #2d2d2d;
}

.h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.btn {
    font-weight: normal;
}

.btn-alt1 {
    color: #000;
    background-color: #fff;
    border-color: #ddd;
}

.pad-horz-1x {
    padding-left: 1em;
    padding-right: 1em;
}

.pad-vert-2x {
    padding-top: 2em;
    padding-bottom: 2em;
}

img {
    margin-right: 5px;
    max-height: 50px;
    display: block;
    margin: 5px auto;
}

.btn-alt1:hover {
    color: #000;
    background-color: #eee;
    border-color: #ccc;
}

.col-lg-4 {
    margin-bottom: 20px;
}

.tab-pane {
    margin-bottom: 20px;
}

.margin-top-2x {
    margin-top: 2em;
}

.well {
    box-shadow: none;
    border-radius: 0;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
}

.margin-top-x {
    margin-top: 0;
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 0;
}

.margin-bottom_5x {
    margin-bottom: 0.5em;
}

address {
    font-style: normal;
    line-height: 1.42857143;
    font-size: 13px;
}

.map {
    color: #a40000;
    font-size: 13px;
    text-decoration: none;
}

.margin-top-1x {
    margin-top: 1em;
}

.img-responsive {
    margin-right: 5px;
    display: block;
    margin: 5px auto;
    max-height: none !important;
}

@media screen and (max-width:768px) {}

@media (max-width:375px) {
    h1 {
        font-size: 25px;
    }
    h3 {
        font-size: 17px;
    }
}