@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    
    .card-registration .select-arrow {
    top: 13px;
    }
    
    .bg-grey {
    background-color: #eae8e8;
    }
    
    @media (min-width: 992px) {
    .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }
    
    @media (max-width: 991px) {
    .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    }
    }
    .nkt a{
        /* color: red; */
        font-weight: bold;
        color: #696969	;
        margin: 0 12px;
        font-size: 19px;
    }
    .nkt{
        background-color: black;
    }
    .nav-item a{
        font-size: 12px;
        color: white;
        padding: 0px 6px;
    }
    .look{
        text-transform: uppercase;
    }
    nav ul li:hover a{
        border-bottom: 3px solid white;
        transition: all 0.1s;
    }
    