<div style="background-color: #f5f5f5;">
    <div class="container mt-4">
        <div class="container" style=" padding: 30px 20px;
        box-shadow: 0px 0px 8px 1px rgba(133, 133, 133, 0.332); background-color: #fff;">
            <section class="css-gwl9wl">
                <div class="initialized hero-banner css-357acg">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="bg-image">
                                    <span>
                                        <img src={{item.img}} class="bg" />
                                    </span>
                                </div>
                                <div class="slide-overlay">
                                    <div class="px-md-0 col-xl-6 col-md-7 col-sm-10 col-12 offset-sm-1">
                                        <div class="header-slider">
                                            <h1 class="page-title">
                                                {{item.name}}
                                            </h1>
                                            <h2>Warranty Extension</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="css-gwl9wl" style="margin-top: 50px;">
                <div class="col-lg-12 col-md-12 col-sm12 warranty">
                    <div>
                        <h2 class="primary texts-block-title--primary">{{item.title1}}
                        </h2>
                    </div>
                    <div>
                        <p>{{item.content1}}</p>
                        <p>{{item.content11}}</p>
                        <p>{{item.content12}}</p>
                        <p>{{item.content13}}</p>
                        <p>{{item.content14}}</p>
                        <p>{{item.content4}}</p>
                    </div>

                </div>

                <div class="col-lg-12 col-md-12 col-sm12 warranty">
                    <div>
                        <h2 class="primary texts-block-title--primary">{{item.title2}}
                        </h2>
                    </div>
                    <div>
                        <p>
                            {{item.content2}}

                        </p>
                        <p>
                            {{item.content5}}

                        </p>
                        <p>
                            {{item.content6}}

                        </p>
                    </div>

                </div>
                <div class="col-lg-12 col-md-12 col-sm12 warranty">
                    <div>
                        <h2 class="primary texts-block-title--primary">{{item.title3}}
                        </h2>
                    </div>
                    <div>
                        <p>
                            {{item.content7}}

                        </p>

                    </div>

                </div>
            </section>
        </div>
    </div>
</div>