.nkt a{
    /* color: red; */
    font-weight: bold;
    color: #696969	;
    margin: 0 12px;
    font-size: 19px;
}
.nkt{
    background-color: black;
    margin-bottom: 100px;
}
.nav-item a{
    font-size: 12px;
    color: white;
    padding: 0px 10px;
}
nav ul li:hover a{
    border-bottom: 3px solid white;
    transition: all 0.1s;
}
