<div style="background-color: #f5f5f5;">
    <div class="container mt-4">
        <div class="container" style=" padding: 30px 20px;
         box-shadow: 0px 0px 8px 1px rgba(133, 133, 133, 0.332); background-color: #fff;">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div>
                        <h2>Auto Loans</h2>
                        <h4><a><i class="fa fa-caret-right"></i> Get Pre-Approved</a></h4>
                        <p>The Carrio Motor Cars finance department is focused on ensuring your experience with our dealership exceeds your highest expectations. Our friendly finance managers work with people from all over including Fort Lauderdale, West
                            Palm Beach, and Hillsboro Beach to ensure our customers get the right finance program at the most competitive rates.
                        </p>
                        <p>We strive to work with each customer to ensure their satisfaction. We have financed customers from Fisher Island to Naples. Whether you are right down the road or an hour away from Fort Lauderdale you can use our quick pre-approval
                            form to qualify for one of our finance programs. Additionally, we provide you with a payment calculator to estimate your buying power and monthly payments.
                        </p>
                        <h2>How is your credit?</h2>
                        <p>Whether it is perfect or not so great, we can custom design the right financing package for your next vehicle purchase.
                        </p>
                    </div>
                    <div class="panel-group">
                        <div class="panel-default">
                            <div class="panel-heading" (click)="create()">
                                <a class="accordion-toggle border-radius-none collapsed" data-parent="#accordion" data-toggle="collapse" aria-expanded="false">
                                    <div class="panel-title">
                                        <strong>Best</strong> "I never miss a payment!"
                                    </div>
                                    <i class="fa fa-chevron-down pull-right fau"></i>
                                </a>
                            </div>
                            <div class="panel-collapse  in" id="list">
                                <div class="panel-body">
                                    <p>The Carrio Motor Cars loan process can help you find the best interest rate for your next vehicle purchase.</p>
                                    <p>Try our
                                        <a class="create">FREE credit application</a> today!
                                    </p>
                                    <p>Great New Vehicle APR!*</p>
                                    <p>Competitive Used Vehicle Rates*</p>
                                    <p>We have hundreds of new and used PreOwned vehicles for immediate delivery and access to some of the lowest interest rates in the business. *Rates subject to change. Please see dealer for up to date rates. </p>
                                </div>
                            </div>
                            <div class="panel-default">
                                <div class="panel-heading" (click)="create1()">
                                    <a class="accordion-toggle border-radius-none collapsed" data-parent="#accordion" data-toggle="collapse" aria-expanded="false">
                                        <div class="panel-title">
                                            <strong>OK</strong> "I've missed a payment or two."

                                        </div>
                                        <i class="fa fa-chevron-down pull-right"></i>
                                    </a>
                                </div>
                                <div class="panel-collapse  in" id="list1">
                                    <div class="panel-body">
                                        <p>Due to our special arrangements with local and national lenders, we can help you get the new or used vehicle you deserve. Whether your past credit is near perfect or not so perfect, we can help!</p>
                                        <p>Complete our
                                            <a class="create"> FREE credit application</a>
                                        </p>
                                        <p>and our team of finance professionals will begin working for you. We have hundreds of PreOwned vehicles currently available for immediate delivery.
                                        </p>
                                    </div>
                                </div>
                                <div class="panel-heading" (click)="create2()">
                                    <a class="accordion-toggle border-radius-none collapsed" data-parent="#accordion" data-toggle="collapse" aria-expanded="false">
                                        <div class="panel-title">
                                            <strong>Not So Good</strong> "I need to rebuild my credit..."

                                        </div>
                                        <i class="fa fa-chevron-down pull-right"></i>
                                    </a>
                                </div>
                                <div class="panel-collapse  in" id="list2">
                                    <div class="panel-body">
                                        <p>Are you new to this country? Have you been turned down before? We can help. We have programs to help you get into a car and rebuild your credit. We are able to overcome most credit problems.</p>
                                        <p>To get started, fill out our
                                            <a class="create"> FREE credit application</a> online.
                                        </p>
                                        <p>Once the application is completed, the Carrio Motor Cars finance team will put together a loan package that is tailored specifically for you.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-offset-1 col-md-12 col-sm-12">
                    <div class="sidebarSection sb-preapproved">
                        <h3>Our Financial Services Include:</h3>
                        <ul class="fa-check-content list-unstyled pad-left-2x list-margin-bottom_5x">
                            <li><i class="fa fa-check text-main"></i> Competitive rates direct from the manufacturer and local Florida banks</li>
                            <li><i class="fa fa-check text-main"></i> Quick approvals</li>
                            <li><i class="fa fa-check text-main"></i> Value-added services to protect your vehicle investment
                            </li>
                            <li><i class="fa fa-check text-main"></i> Extended warranty programs</li>
                            <li><i class="fa fa-check text-main"></i> And many more finance programs to fit your needs
                            </li>
                        </ul>
                        <hr>
                        <p class="lead">We are always happy to answer your questions so please don't hesitate to
                            <a routerLink="/contact">contact us</a> today!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>