h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
    font-weight: bold;
}

h4 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
}

a {
    color: #a40000;
    text-decoration: none;
}

p {
    margin: 0 0 10px;
}

.panel-group {
    margin-bottom: 20px;
}

.panel-group .panel-default {
    border-radius: 4px;
    border-color: #ddd;
    background-color: #fff;
    border: 1px solid transparent;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    border-bottom: 0;
    border-radius: 4px;
    margin-bottom: 10px;
}

.panel-heading {
    padding: 10px 15px;
}

.col-md-offset-1 {
    margin-left: 8.33333333%;
}

h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
}

.pad-left-2x {
    padding-left: 1em;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.list-margin-bottom_5x li {
    margin-bottom: 0.5em;
}

.text-main {
    color: #1e1e1e;
}

.panel-title {
    color: #a40000;
}

.collapsed {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ddd;
    background: rgb(240, 240, 240);
    margin-bottom: 20px;
}

.panel-heading+.panel-collapse>.panel-body {
    border-top: 1px solid #ddd;
}

.panel-body {
    padding: 15px;
}

.create {
    color: #a40000;
    cursor: pointer;
}

.panel-collapse {
    display: none;
}

.none {
    display: block;
}

@media screen and (max-width:800px) {
    .pad-left-2x {
        padding-left: 0em;
    }
    .col-md-offset-1 {
        margin-left: 0;
    }
}