<div class="row">
    <div class="col-md-6">
        <h6><i class="fa-solid fa-location-dot"></i>Số 6 , Quang Trung , Hà Đông , Hà Nội</h6>
        <h6><i class="fa-solid fa-location-dot"></i>Số 11 Phạm Hùng, Mỹ Đình, Từ Liêm, Hà Nội</h6>
        <h6><i class="fa-solid fa-location-dot"></i>Số 20 Triều Khúc, Thanh Xuân, Hà Nội</h6>
        <h6><i class="fa-solid fa-phone"></i>0933.338.229</h6>
        <h6>Giờ mở cửa</h6>
        <span>Từ 8h00 đến 17h30 (Hoạt động cả tuần)</span>
    </div>
    <div class="col-md-6">
        <div class="sum">
            <div class="top">
                <h2><i class="fa-solid fa-phone"></i>0933.338.229</h2>
                <span>Liên hệ ngay để được mua xe với giá tốt nhất</span>
            </div>
            <div class="end">
                <h5>NHẬN BÁO GIÁ XE</h5>
            </div>
        </div>
        <div class="ip">
            <input type="text" placeholder="Họ Tên">
            <input type="text" placeholder="Số Điện Thoại">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Hà Nội">
            <input type="text" placeholder="Liên Hệ">
        </div>
        <button class="btn btn-primary" style="width: 100%;font-weight: bolder;" routerLink="/">NHẬN BÁO GIÁ NGAY</button>
    </div>
</div>